
@media (min-width: 992px) {}


@media (max-width: 768px) {
    #tour .bg-1 {
        padding: 80px;
    }
}

@media (max-width: 576px) {
    .carousel-item,
    .carousel-inner,
    .carousel-inner img {
        height: 180px;
        width: 350px;
        margin-bottom: 20px;
        margin: auto;
    }

}
@media (max-width: 576px) {
body > section:nth-child(4) > div > div {
    margin-top:117px;
}
}


.alert {
    font-family: 'Viga', sans-serif;
    font-size: 16px;
}

#slides {
    text-align: center;
    position: relative;
}


body {
    text-align: center;
    margin: 10px;
    font-family: 'Viga', sans-serif;
    color: #02040F!important;
    background-color: #E6C79C;
    background-image: url('./assets/images/color-swirl.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
}

.navbar-brand a {
    font-family: 'Fugaz One', cursive;
    color: #050517!important;
}

.navbar-custom {
    color: #050517;
    background-color: rgb(233, 233, 25, .95);
    border-bottom-style: groove;
    border-bottom-color: #2222;
}

.carousel-inner img {
    border-radius: 50%;
    border: 5px solid #E5E9EC;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border-color: #22222
}

.jumbotron {
    font-family: 'Fugaz One', cursive;
    font-size: 14px;
    background-color: rgba(154, 147, 35, .66);
    margin-top: 130px;
    border: 2px solid #fff!important;
    ;
    padding: 25px;
    border-radius: 12%;
}
#news > div.container.padding > div > div > h2 {
    color:#222222;
}
.news-header {
    
    margin-top: 100px;
    margin-bottom: 85px;
    padding: 25px;
    border-radius: 50%;
    border: 2px solid #fff!important;
    background-color: rgba(233, 233, 25, .95);
}

.landing {
    font-family: 'Viga', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: rgba(233, 233, 25, .7);
    border: 2px solid #fff!important;
    border-radius: 5%;
    margin-top: 20px;
    margin-bottom: 170px;
}
#news > div.container-fluid.padding > div > div > button {
    margin:25px;
}



#news > div.container-fluid.padding > div > div > h4 {
    margin:15px;
    color:#222222;
}
.landing p {
    padding: 30px;
}

.rounded-corners {
    border-radius: 25%;
    padding-right: 25px;
    border-style: 2px solid #272727!important;
}

#music {
    width:100%;
    margin-top: 75px;
    margin-bottom: 85px;
    padding: 25px;
    border-radius: 18%;
    border: 2px solid #fff!important;
    background-color: rgba(2, 4, 15, .9);
}


#playlist,
audio {
    list-style: none;
    padding: 40px;
    background-color: rgba(2, 3,15, 1);
    border:5px solid #fff;
    width:100%;
    border-radius:15%;
    
}
#playlist > div > button {
    margin:20px;
}
#playlist, h4, h2 {
    text-decoration: underline;
    color:#fff;
}
.active a {
    color: #5DB0E6;
    text-decoration: none;
    

}

li a {
    color: #eeeedd;
    padding: 12px;

}

li a:hover {
    text-decoration: none;

}

.bio-header {
    margin-top: 80px;
    margin-bottom: 85px;
    border-radius: 50%;
    border: 2px solid #fff!important;
    background-color: rgba(159, 87, 19, .9);
}

.biographics {
    background-color: rgba(159, 87, 19, .8)!important;
    padding: 15px;
    border-radius: 5%;
    margin-top: 25px;
    margin-bottom: 80px;
    border: 2px solid #fff!important;
  
}

.biographics {}

#tour>div>ul {
    padding: 30px;
}

.live-header {
    margin-top: 150px;
    margin-bottom: 35px;
    border-radius: 50%;
    border: 2px solid #fff!important;
    background-color: rgba(157, 150, 81, .96);
}



.bg-1 {
    background: rgba(157, 150, 81, .96);
    color: #bdbdbd;
    margin-bottom: 170px;
    border: 2px solid #fff;

}

.bg-1 h3 {
    color: #050517;
    border-radius: 5%;
    padding: 15px;
    margin-bottom: 15px;
}

.bg-1 p {
    font-style: italic;
    color: #050517;
    padding: 25px;
    padding-bottom: 25px;
}


.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;

}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;



}

.list-group .list-group-item {
    margin-bottom: 20px;
    color: #686963;
}

#contact {

    margin-top: 30px;
    background-color: rgb(233, 233, 25, .7);
    border: 2px solid #fff;
}

#contact>h3 {
    padding: 35px;
}

.contact-header {
    padding: 15px;
    margin-top: 150px;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 2px solid #fff!important;
    background-color: rgb(233, 233, 25, .7);
}

#contact>div {
    padding: 25px;

}

.social-links {
    padding-bottom: 15px;
}

#footer-details>div>ul>li:nth-child(3)>a>i {
    padding: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #9b5016;
}

#footer-details {
    padding: 50px;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
