/*---Media Queries --*/

@media (max-width: 992px) {
}

@media (max-width: 768px) {}

@media (max-width: 576px) {
.carousel-item,
.carousel-inner,
.carousel-inner img {
  height: 180px;
  width: 320px;
  margin-bottom:50px;
}
    
}
@media (max-width: 576px) {
 .jumbotron{
   margin-top:100px;
}
    
}
#slides {
    text-align: center;
    position: relative;
}


body {
    text-align:center;
    margin: 10px;
    font-family: 'Fugaz One', sans-serif, cursive;
    color: #02040F!important;
    background-color: #E6C79C;
    background-image: url('./assets/images/color-swirl.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar-brand a {
    font-family: 'Monoton', cursive;
    color:#050517!important;
}

.navbar-custom {
    color:#050517;
    background-color: rgb(233, 233, 25, .95);
    border-bottom-style: groove;
    border-bottom-color: #2222;
}
.carousel-inner img{
    border-radius:50%;
    border: 5px solid #E5E9EC;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border-color: #22222
}

.jumbotron {
    background-color: rgba(199, 186, 159, .8);
    margin-top:175px;
    border: 2px solid #fff!important;;
    padding:10px;
    border-radius: 25%;
}
.landing {
     background-color: rgba(233, 233, 25, .7);
     border: 2px solid #fff!important;;
     border-radius: 18%;
}
.rounded-corners {
    border-radius: 25%;
    padding-right: 25px;
    border-style: 2px solid #272727!important;
}

.container-fluid .biographics {
    background-color: rgba(230, 199, 156, .9)!important;
    padding: 15px;
    border-radius: 20%;
    margin-top: 25px;
    border: 2px solid #fff!important;
    /*----background-color:rgb(227, 218, 36, .5)!important;---*/
}

.biographics {}

#tour h3  {
    padding:30px;
    margin-bottom:35px;
}    

.bg-1 {
    background: rgba(157, 150, 81, .96);
    color: #bdbdbd;
    margin-top: 150px;
    border:2px solid #fff;
    height:50%;
}

.bg-1 h3 {
    color:#050517;
    border-radius: 10%;
}

.bg-1 p {
    font-style: italic;
    color:#E1E5F2;
    margin:0;
}
.bg-1 .text-center {
    color:#00072D;
}

.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
   
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    
    
}
.list-group .list-group-item  {
    margin-bottom:20px;
    color:#686963;
}

#contact {
    margin-top:100px;
    background-color:rgb(233, 233, 25, .7)!important ;
    border:2px solid #F79256;
}
#contact h3  {
    padding:25px;
}
#contact p  {
    padding:10px;
}
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
